@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply bg-bg text-fg0;
}

pre {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

code {
    font-size: 1rem !important;
    font-weight: normal !important;
    font-family: monospace;
}

code:not(pre code) {
    padding: 0.1em 0.5em !important;
    border-radius: 0.25rem !important;
    @apply bg-bg0_h;
}

code:not(pre code)::before,
code:not(pre code)::after {
    content: "" !important;
}

.ansi-red-fg {
    @apply text-red;
}