@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply bg-bg text-fg0;
}

.docs h1 {
    margin-bottom: 0 !important;
}

.docs h2 {
    margin-top: 1.0666667em !important;
}

.docs pre {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.docs code {
    font-size: 1rem !important;
    font-weight: normal !important;
}

.docs code:not(pre code) {
    padding: 0.1em 0.5em !important;
    border-radius: 0.25rem !important;
    @apply bg-bg0_h
    
}

.docs code:not(pre code)::before,
.docs code:not(pre code)::after {
    content: "" !important;
}

.ansi-red-fg {
    @apply text-red;
}