name: Rust

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: |
          cd lang
          cargo test --verbose

  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Build
        working-directory: lang
        run: cargo build --release --verbose

      - name: Prepare artifacts (Unix)
        if: runner.os != 'Windows'
        run: |
          mkdir artifacts
          cp lang/target/release/modu artifacts/modu-${{ runner.os }}

      - name: Prepare artifacts (Windows)
        if: runner.os == 'Windows'
        run: |
          mkdir artifacts
          copy lang\target\release\modu.exe artifacts\modu-Windows.exe

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ runner.os }}
          path: artifacts/*
